*{
  margin: 0;
  padding: 0;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(191, 200, 235, 0.815),rgba(248, 248, 248, 0.7));
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li {
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
   align-content: center;

}

.nav-links ul li a {
  color: rgb(34, 28, 28);
  text-decoration: none;
  font-size: 25px;
  font-style: calc();
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #a441b8;
  display: block;
  margin: auto;
  transition: 1s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: move;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(35, 124, 224);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #3c5fcf;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

*{
  box-sizing: border-box;
}

.clm{
  float: left;
  width: 33.33%;
  padding: 25px;
}
.row{
  padding-left: 150px;
  padding-top: 20px;
}

.clm img{
  height: 300px;
  background-image: linear-gradient(rgba(191, 200, 235, 0.815),rgba(248, 248, 248, 0.7));
  background-position: center;
  padding: 30px;
}

.orderon{
  text-align: center;
  color: rgb(113, 46, 165);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 15px;
  padding-right: 150px;
}

.outlet{
  text-align: center;
  color: rgb(113, 46, 165);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 15px;
  padding-right: 150px;
}

.products{
  text-align: center;
  color: rgb(113, 46, 165);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 15px;
  padding-right: 150px;
}

footer{
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #f2f2f2;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 400px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  justify-content: center;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #bbb;
}

.socials a li{
  font-size: 1.1rem;
  transform: color 0.4s ease;
}

.socials a:hover i{
  color: aquamarine;
}


.footer-bottom{
  background: black;
  width: 100vw;
  text-align: center;
  padding: 20px 0;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize; 
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 200;
}


.tickerr {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 25px;
}
.news {
  width: 76%;
  background: #9f80bb;
  padding: 0 2%;
}
.titlee {
  width: 20%;
  text-align: center;
  background: #572685;
  position: relative;
}
.titlee:after {
  position: absolute;
  content: "";
  right: -17%;
  border-left: 20px solid #5a288a;
  border-top: 33px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid transparent;
  top: 0;
}
.titlee h5 {
  font-size: 18px;
  margin: 8% 0;
  color: antiquewhite;
}
.news marquee {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  align-content: center;
  padding-top: 12px;
  
}